@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 172, 172);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.app-body {
  display: grid;   /* Two column layout spanning 100 percent of viewport. */
  height: 100vh;
  grid-template-areas:
    "app-sidebar-area app-header-area"
    "app-sidebar-area app-main-area";
  grid-template-columns: 25rem 1fr;  /* Fix width of left column and let right column span complete width */
  grid-template-rows: 0rem 1fr;   /* Fix height of top row and let bottom row span complete height */
}

.app-sidebar {
  display: grid;
  grid-area: app-sidebar-area;
  grid-template-areas: 
    "app-logo-area"
    "app-sidenav-area"
    "searchbar-area";
  grid-template-rows: 10rem 1fr;

  font-weight: bold;
  background-color: var(--color-dark2);
  color: var(--color-white1);
  /* padding-bottom: 3rem; */
}

.app-main {
  display: grid;
  grid-area: app-main-area;
  /* padding: 1rem 1rem 0 1rem; */
  align-content: start;
}

.app-logo {
  display: grid;
  grid-area: app-logo-area;
  align-content: start;
  padding: 0 0rem;
  cursor: pointer;
  padding: 0.1rem 2rem;
}

.app-sidenav {
  display: grid;
  grid-area: app-sidenav-area;
  grid-template-areas: ".";
  padding: 2rem;
}

.app-sidebar ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.app-sidebar ul li {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.app-sidebar ul li:hover {
  cursor: pointer;
  color: #3a3633;
}

.app-sidebar ul li {
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
}

.app-sidebar ul li:nth-child(1):hover {
  background-image: url('/menu-icons/icon-m.svg'); /* '/menu-icon-machines.svg' */
}

.app-sidebar ul li:nth-child(2):hover {
  background-image: url('/menu-icons/icon-u.svg'); /* '/menu-item-icon.svg' */
}

.app-sidebar ul li:nth-child(3):hover {
  background-image: url('/menu-icons/icon-p.svg'); /* '/menu-item-icon.svg' */
}

.app-sidebar ul li:nth-child(4):hover {
  background-image: url('/menu-icons/icon-b.svg'); /* '/menu-icon-docs.svg' */
}

.app-sidebar ul li:nth-child(5):hover {
  background-image: url('/menu-icons/icon-d.svg'); /* '/menu-icon-contacts.svg' */
}

.app-sidebar ul li:nth-child(6):hover {
  background-image: url('/menu-icons/icon-l.svg'); /* '/menu-icon-people.svg' */
}

.app-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  /* background-color: rgb(235, 100, 16); */
  border-right: 1px solid black;
}

.app-main, .app-sidenav {
  overflow: auto;
}

/* let the sidebar be independently scrollable when there is content beyond the viewport */
.app-main, .app-sidenav {
  overflow-y: auto;
}

.app-searchbar { 
  background-color: #F4F1F1;
  color: #887C7C;
  padding: 2rem;
}

.app-searchbar input {
  border: none;
  background-color: #F4F1F1;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-left: 0.8rem;
}

.app-searchbar input:focus {
  outline: none;
  color: black;
}

.mobile-logo {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-sidenav {
  /*height:  100% Full-height */
  width: 0; 
  position: fixed; 
  z-index: 1; 
  bottom: 0; 
  right: 0;
  overflow-x: hidden; 
  /* padding-top: 60px;  */
  transition: 0.5s; 
  background-color: white;
}

.mobile-sidenav ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.mobile-sidenav ul li {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  font-size: 1.3rem;
  border-bottom: 1px solid black;
}
 
.mobile-sidenav ul li {
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
}

.mobile-sidenav ul li:nth-child(1) {
  background-image: url('/menu-icons/icon-m-sm.svg'); /* '/menu-icon-machines.svg' */
}

.mobile-sidenav ul li:nth-child(2) {
  background-image: url('/menu-icons/icon-u-sm.svg'); /* '/menu-item-icon.svg' */
}

.mobile-sidenav ul li:nth-child(3) {
  background-image: url('/menu-icons/icon-p-sm.svg'); /* '/menu-item-icon.svg' */
}

.mobile-sidenav ul li:nth-child(4) {
  background-image: url('/menu-icons/icon-b-sm.svg'); /* '/menu-icon-docs.svg' */
}

.mobile-sidenav ul li:nth-child(5) {
  background-image: url('/menu-icons/icon-d-sm.svg'); /* '/menu-icon-contacts.svg' */
}

.mobile-sidenav ul li:nth-child(6) {
  background-image: url('/menu-icons/icon-l-sm.svg'); /* '/menu-icon-people.svg' */
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .app-sidebar {
    display: none;
  }
  .app-body {
    grid-template-columns: 0rem 1fr;
  }

  .mobile-logo {
    display: block;
    cursor: pointer;
    padding: 2rem;
    text-align: center;
  }
  
  .mobile-nav {
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

/*
@media only screen and (max-width: 600px) {
  
} 

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 992px) {
  
}
@media only screen and (min-width: 1200px) {
  
} 
*/