.machine_container {
    min-width: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

.machine_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(239 225 225);
    padding: 1.5rem;
    justify-content: space-between
}

.machines_list {
    width: 100%;
}

.map_machines_list {
    list-style: none;
    padding: 0;
    line-height: 2rem;
}

.machine_item_content {
    width: 70%;
}

.machine_meta table {
    width: 30vw;
    border: 1px solid #e8e3e3; 
    padding: 1rem;
    margin-bottom: 3rem;
}

.machine_description {
    font-size: 1rem;
    padding-right: 1.5rem;
    line-height: 1.5rem;
}

.humans_list_title {
    margin-top: 2rem;
}

.item_code {
    font-weight: 400;
    color: rgb(77, 76, 74);
    background-color: #ececec;
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.item_code_position {
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}
  
.machine_cover { 
    background-color: #ffffff; /*#E78E4E;*/
}

.machine_cover_img {
    position: relative;
}

.machine_type_list {
    margin: 0;
    padding: 0;
}

.floor_meta {
    width: 100%;
}

.filtering {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
    padding: 1.5rem;
    font-size: 1.4rem;
    /* overflow-x: scroll;
     */
}

.filtering > div {
    margin-right: 3rem;
    cursor: pointer;
}

.custom_select {
    padding: 0.7rem 1.2rem;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    outline: none;

    /* arrow */
    /* appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto; */
}

.custom_select:hover {
    cursor: pointer;
}

.map_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.svg_map {
    width: 50%;
    padding: 2rem;
}

.faq_container {
    padding: 2rem;
    line-height: 1.5rem;
    width: 70%;
}

.faq_list {
    margin-top: 2rem;
}

.faq_item {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    cursor: pointer;  
}

.faq_question {
    padding: 1rem;
    border: 1px solid #e8e3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq_answer {
    max-height: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
    transition: 250ms ease;
}

.faq_answer p {
    opacity: 0;
    transform: translateY(-2rem);
    transition: 375ms ease;
}

.faq_answer.is_active {
    max-height: 65rem;
    padding-bottom: 0.5rem;  
}

.faq_answer.is_active p {
    opacity: 1;
    transform: translateY(0);
    transition: 375ms ease;
}

.faq_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
}

.faq_icon:before, .faq_icon:after {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    background-color: #000000;
    transition: 500ms ease;
}

.faq_icon:after {
    transform: rotate(90deg);
}

.faq_icon.is_active:before {
    transform: rotate(360deg);
}

.faq_icon.is_active:after {
    transform: rotate(360deg);
    transition-delay: 0.08s;
}

.contacts_text {
    margin-bottom: 2rem;
}

.contacts_title {
    margin-bottom: 1rem;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .machine_item {
        flex-wrap: wrap;
    }

    .machine_meta table {
        width: 80vw;
    }
    .machine_item_content {
        width: 100%;
    }

    .svg_map {
        width: 100%;
    }

    .faq_container {
        width: 100%;
    }

    .map_container {
        /* display: flex;
        flex-direction: row; */
        flex-wrap: wrap;
    }

    .faq_question {
        padding: 0rem 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .svg_container {
        background-color: #ffffff;
    }
    .item_code_position {
        background-color: #e78e4e;
    }

    .faq_icon:before, .faq_icon:after {
        background-color: white;
    }
    
    .filtering {
        border-bottom: 1px solid white;
    }
}
